<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_2048_game.Colors" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="_2048_game.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <_2048_game.Colors>
            <setting name="color2" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="color4" serializeAs="String">
                <value>255, 192, 192</value>
            </setting>
            <setting name="color8" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
            <setting name="color16" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="color32" serializeAs="String">
                <value>192, 0, 0</value>
            </setting>
            <setting name="color64" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="color128" serializeAs="String">
                <value>128, 255, 128</value>
            </setting>
            <setting name="color256" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="color512" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="color1024" serializeAs="String">
                <value>128, 128, 255</value>
            </setting>
            <setting name="color2048" serializeAs="String">
                <value>0, 0, 192</value>
            </setting>
        </_2048_game.Colors>
        <_2048_game.Settings1>
            <setting name="Параметр" serializeAs="String">
                <value />
            </setting>
        </_2048_game.Settings1>
    </userSettings>
</configuration>